<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key ="TileWidth" value="5"/>
    <add key ="TileHeight" value="5"/>
    <add key ="LevelWidth" value="20"/>
    <add key ="LevelHeight" value="10"/>
    <add key="TilesetInput" value="D:\_Projects\ProcGenTools\ProcGenTools\Test.Bitmap\Input\testtileset.bmp" />
    <add key="hTraverseInput" value="D:\_Projects\ProcGenTools\ProcGenTools\Test.Bitmap\Input\hTraverse.bmp" />
    <add key="vTraverseInput" value="D:\_Projects\ProcGenTools\ProcGenTools\Test.Bitmap\Input\vTraverse.bmp" />
    <add key ="BitmapOutput" value="..//..//Output//output.bmp"/>
    <add key ="TilesetOutput" value="..//..//Output//testtilesetoutput_kit.bmp"/>
  </appSettings>
</configuration>