<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>

    <add key="GroundTile" value="..//..//Input//ground.bmp"/>
    <add key="SolidTile" value="..//..//Input//solid.bmp"/>
    <add key="EmptyTile" value="..//..//Input//empty.bmp"/>
    <add key="LedgeRightTile" value="..//..//Input//ledgeRight.bmp"/>
    <add key="LedgeLeftTile" value="..//..//Input//ledgeLeft.bmp"/>
    <add key="ShooterRightTile" value="..//..//Input//shooterRight.bmp"/>
    <add key="ShooterLeftTile" value="..//..//Input//shooterLeft.bmp"/>
    <add key="LadderTopTile" value="..//..//Input//ladderTop.bmp"/>
    <add key="LadderMidTile" value="..//..//Input//ladderMid.bmp"/>
    <add key="LadderBottomTile" value="..//..//Input//ladderBottom.bmp"/>
    <add key="LadderBottomWithConveyorTile" value="..//..//Input//ladderBottomConveyor.bmp"/>
    <add key="ConveyorTile" value="..//..//Input//conveyor.bmp"/>
    <add key="ButtonTile" value="..//..//Input//button.bmp"/>
    <add key="DoorTile" value="..//..//Input//door.bmp"/>
    <add key="BoxTile" value="..//..//Input//box.bmp"/>
    <add key="HangingRopeTile" value="..//..//Input//rope.bmp"/>
    <add key="HangingRopeBottomTile" value="..//..//Input//ropeBottom.bmp"/>
    <add key="EnemyTile" value="..//..//Input//enemy.bmp"/>
    
    <add key="TempInput" value="..//..//Input//mainTileset.bmp"/>

    
    
    
    <!--puzzle stuff-->
    <add key="mainTileset" value="..//..//PuzzleBuilder//Input//main.bmp"/>
    <add key="hTileset" value="..//..//PuzzleBuilder//Input//horizontal.bmp"/>
    <add key="hPlainTileset" value="..//..//PuzzleBuilder//Input//horizontalPlain.bmp"/>
    <add key="vTileset" value="..//..//PuzzleBuilder//Input//vertical.bmp"/>
    <add key="ladderTileset" value="..//..//PuzzleBuilder//Input//ladder.bmp"/>
    <add key="verticalExitTileset" value="..//..//PuzzleBuilder//Input//verticalExit.bmp"/>
    <add key="doorTileset" value="..//..//PuzzleBuilder//Input//door.bmp"/>
    <add key="buttonTileset" value="..//..//PuzzleBuilder//Input//button.bmp"/>
    <add key="boxTileset" value="..//..//PuzzleBuilder//Input//box.bmp"/>
    <add key="ropeTileset" value="..//..//PuzzleBuilder//Input//rope.bmp"/>
    <add key="conveyorTileset" value="..//..//PuzzleBuilder//Input//conveyor.bmp"/>
    <add key="elevatorTileset" value="..//..//PuzzleBuilder//Input//elevator.bmp"/>
    <add key="shooterTileset" value="..//..//PuzzleBuilder//Input//shooter.bmp"/>
    <add key="nondynamic" value="..//..//PuzzleBuilder//Input//nondynamic.bmp"/>
    <add key="nondynamicstrict" value="..//..//PuzzleBuilder//Input//nondynamicStrict.bmp"/>
    <add key="solidTileset" value="..//..//PuzzleBuilder//Input//solid.bmp"/>
    <add key="enemyTileset" value="..//..//PuzzleBuilder//Input//enemy.bmp"/>
    <add key="emptyTileset" value="..//..//PuzzleBuilder//Input//empty.bmp"/>
    <add key="walkableTileset" value="..//..//PuzzleBuilder//Input//walkable.bmp"/>
    <add key="fallTileset" value="..//..//PuzzleBuilder//Input//fall.bmp"/>
    <add key="Output" value="..//..//PuzzleBuilder//Output//output.bmp"/>

    <add key="errorTileset" value="..//..//PuzzleBuilder//Internal//error.bmp"/>
    <add key="cautionTileset" value="..//..//PuzzleBuilder//Internal//caution.bmp"/>

    <add key="WfcDebugFolder" value="..//..//PuzzleBuilder//WfcDebug//Current//"/>
    <add key="TilesetsDebugFolder" value="..//..//PuzzleBuilder//TilesetsDebug//Current//"/>
    
  </appSettings>
</configuration>
