<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key ="BitmapOutput" value="..//..//Output//output.bmp"/>
      <add key ="BitmapOutput1" value="..//..//Output//output_s1.bmp"/>
      <add key ="BitmapOutput2" value="..//..//Output//output_s2.bmp"/>
      <add key ="BitmapOutput3" value="..//..//Output//output_s3.bmp"/>
      <add key ="BitmapOutput4" value="..//..//Output//output_s4.bmp"/>
      <add key ="BitmapOutput5" value="..//..//Output//output_s5.bmp"/>
      <add key ="BitmapOutput6" value="..//..//Output//output_s6.bmp"/>
    </appSettings>
</configuration>