<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>

    <add key="mainTileset" value="..//..//Input//main.bmp" />
    <add key="hTileset" value="..//..//Input//horizontal.bmp" />
    <add key="hPlainTileset" value="..//..//Input//horizontalPlain.bmp" />
    <add key="vTileset" value="..//..//Input//vertical.bmp" />
    <add key="ladderTileset" value="..//..//Input//ladder.bmp" />
    <add key="verticalExitTileset" value="..//..//Input//verticalExit.bmp"/>
    <add key="doorTileset" value="..//..//Input//door.bmp"/>
    <add key="buttonTileset" value="..//..//Input//button.bmp"/>
    <add key="ropeTileset" value="..//..//Input//rope.bmp"/>
    <add key="conveyorTileset" value="..//..//Input//conveyor.bmp"/>
    <add key="elevatorTileset" value="..//..//Input//elevator.bmp"/>
    <add key="boxTileset" value="..//..//Input//box.bmp"/>
    <add key="shooterTileset" value="..//..//Input//shooter.bmp"/>
    <add key="nondynamic" value="..//..//Input//nondynamic.bmp"/>
    <add key="nondynamicstrict" value="..//..//Input//nondynamicstrict.bmp"/>
    <add key="solidTileset" value="..//..//Input//solid.bmp"/>
    <add key="emptyTileset" value="..//..//Input//empty.bmp"/>

    <add key ="Output" value="..//..//Output//output.bmp"/>

    <add key="errorTileset" value="..//..//Internal//error.bmp"/>
    <add key="cautionTileset" value="..//..//Internal//caution.bmp"/>

  </appSettings>
</configuration>